<table class="data-table">
  <thead>
    <tr>
      <th>{{ include.title_column_name }}</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% assign sorted_items = include.items |  where: "category", include.category | sort: "title" %}
    {% for item in sorted_items %}
        <tr>
        <td>
            {% if item.title_prefix && item.title_prefix != "" %}
              <span>{{ item.title_prefix }}</span>
            {% endif %}
            <a href="{{ item.link | relative_url }}">{{ item.title }}</a>
        </td>
        <td>{{ item.description }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>