<div class="feature-invite no-print">
  <p class="feature-invite-kicker">Repository</p>
  <h2 class="feature-invite-title">
    <a href="https://github.com/davewalker5/ti-84-python">
      TI-84 Python
    </a>
  </h2>
  <p class="feature-invite-subtitle">
    Small scientific and modelling experiments for the TI-84 Plus CE-T Python
  </p>

  <p>
    As a slightly improbable side project, a growing collection of numerical, modelling, and scientific computing experiments have gradually been implemented on the TI-84 Plus CE-T Python calculator.
  </p>

  <p>
    The repository explores what can realistically be achieved within the calculator's highly constrained Python environment, including ODE solving, ecological modelling, graphical rendering, and various optimisation techniques required to make small scientific applications run on limited handheld hardware.
  </p>

  <p class="feature-invite-action">
    <a href="https://github.com/davewalker5/ti-84-python">
      View on GitHub
    </a>
  </p>
</div>